/* .arrow-left {
  left: calc(100vw - 54%);
  top: -32px;
  transform: rotate(90deg);
  height: 66px;
} */

.arrow-right, .arrow-left {
  display: none;
  /* right: calc(100vw - 50vw);
  top: 466px;
  transform: rotate(90deg);
  height: 66px; */
}

.content {
  margin: 80px 70px;
  flex-direction: column;
  overflow: auto;
}

.modal-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  border-radius: 0;
  width: 100%;
}

.content__figure--img {
  width: 100%;
}

.modal-container img {
  max-width: 100%;
}

.description {
  max-width: 100%;
  border-radius: 0;
  display: block;
}

.description span {
  margin: 15px auto;
  width: 52px;
  display: flex;
}

.hero__wafe {
  width: 100%;
  /* height: 445px; */
  margin-top: -121%;
}

.form label {
  width: 90%;
}

input[type="submit"] {
  width: 100%;
}

.menu__nav--list {
  font-size: 1rem;
}
