* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --base-color: #FF7043;
  --base-color-bordered: #3f5cb4;
  --large-font-size: 2rem;
  --box-commun: 0px 0px 16px 2px var(--base-color);
}

hmtl {
  font-size: 60%;
}

a {
  color: #0f0f0f;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  color: var(--base-color);
  text-decoration: underline;
}

/* nav:focus-within {
  border: 2px dashed var(--base-color);
} */

.description article {
  text-align: center;
}

.description article h2 {
  margin: 15px;
}

.material-icons.md-24 {
  font-size: var(--large-font-size);
}

.menu__nav--list {
  animation: fadeIn 1s;
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
}

input[type="submit"] {
  cursor: pointer;
  width: 350px;
  background-color: var(--base-color);
  border-radius: 25px;
  font-weight: bold;
  outline: none;
  color: #0f0f0f;
  border: none;
  font-size: 1rem;
  padding: 15px;
}

.menu__nav--list__item {
  margin: 15px;
  font-weight: bold;
}

.hero {
  animation: fadeIn 1s ease-in-out;
}

.hero__profile {
  animation: fadeInOut 1s ease-in;
  position: relative;
  background-color: rgb(255, 255, 255);
  max-width: 300px;
  padding: 15px;
  border-radius: 5px;
}

.hero__profile--img {
  border-radius: 5px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.hero__profile--desc {
  font-size: 1.2rem;
  padding: 15px;
}

.hero__wafe {
  width: 100%;
  margin-top: -18%;
}

.description {
  animation: fadeTORight 1s ease-in-out;
  display: flex;
  align-items: center;
  margin-top: 80px;
  padding: 15px;
  background-color: var(--base-color);
  border-radius: 0px 25px 25px 0px;
  max-width: 50%;
}

.hero__nav--list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.hero__nav--list__item {
  margin: 10px;
  cursor: pointer;
}

#header-title {
  background: none;
  border: none;
}

#header-title:focus {
  outline: none;
  border-radius: 50%;
  border: 3px solid var(--base-color);
  box-shadow: var(--box-commun);
}

.description__icon {
  color: #888888;
  background-color: white;
  padding: 15px;
  margin-left: 20px;
  border-radius: 50%;
}

.material-icons.md-18 {
  font-size: 1.5rem;
  font-weight: bold;
}

.arrow-left {
  z-index: 10;
  cursor: pointer;
  transition: .2s ease all;
  display: flex;
  left: -18px;
  padding: 5px;
  outline: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(90% - 50%);
  height: 85px;
  border-radius: 25px;
  font-weight: bold;
  color: aliceblue;
  background-color: #111111;
  border: 2px solid white;
}

.arrow-left:focus, .arrow-right:focus {
  background-color: #1f1f1f;
  box-shadow: var(--box-commun);
  border: 2px solid var(--base-color);
}

.unvisible {
  border: none;
  background: none;
}

.arrow-right {
  cursor: pointer;
  transition: .2s ease all;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  outline: none;
  padding: 5px;
  right: -18px;
  height: 85px;
  z-index: 10;
  top: calc(90% - 50%);
  color: white;
  background-color: #111111;
  border: 2px solid white;
}

.arrow-left:hover, .arrow-right:hover {
  background-color: #202020;
}

.arrow-left:active, .arrow-right:active {
  background-color: #272727;
}

.carrousel {
  position: relative;
  max-width: 745px;
  margin: 0 auto;
}

.content {
  animation: fadeIn 1s;
  position: relative;
  background-color: #1b1b1b;
  overflow: hidden;
  border: 20px solid var(--base-color-bordered);
  border-radius: 20px;
  display: flex;
  margin-top: 80px;
  max-height: 500px;
  scroll-behavior: smooth;
}

.content__figure {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.content__figure--img {
  cursor: pointer;
  transition: .2s ease all;
  width: 400px;
  vertical-align: top;
  object-position: center;
  height: 293px;
  margin-right: 15px;
  margin-left: 15px;
  object-fit: cover;
}

.content__figure--img:hover {
  position: relative;
  transform: scale(1.1);
}

.modal {
  top: 0;
  background-color: #0303038a;
  display: none;
  position: fixed;
  z-index: 15;
  height: 100vh;
  width: 100vw;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.modal-active {
  display: flex;
}

.cancel {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

/* #contact:hover {
  color: var(--base-color);
} */

.modal-container {
  display: none;
  padding: 25px;
  border-radius: 25px;
  position: relative;
  overflow: auto;
  background-color: white;
}

.modal-container h1 {
  margin: 15px;
}

.modal-container img {
  max-width: 580px;
  height: 370px;
  object-fit: cover;
}

.description-modal {
  max-width: 498px;
  margin: 31px;
  padding: 15px;
  /* background-color: #d9d9d9; */
}

.blank {
  text-decoration: underline;
}

.blank:hover {
  color: #a12700;
}

.contact {
  margin-top: 80px;
  padding: 15px;
  background-color: #1b1b1b;
  color: white;
}

.form label {
  margin: 30px 0;
  display: block;
  width: 70%;
}

.contact h1 {
  margin: 40px;
}

.form label input, textarea {
  margin: 15px 0;
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 15px;
}

.form label input:focus, .form textarea:focus {
  border: 2px solid var(--base-color);
  box-shadow: var(--box-commun);
}

input[type="submit"]:focus {
  background: white;
  color: #D84315;
  box-shadow: var(--box-commun);
}

textarea {
  min-width: 100%;
  max-width: 100%;
  max-height: 150px;
  min-height: 150px;
}

.return {
  background-color: #FF5722;
  color: white;
  display: none;
  position: fixed;
  padding: 10px;
  font-weight: bold;
  font-size: var(--large-font-size);
  bottom: 0;
  right: 0;
  z-index: 15;
}

.table {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  font-weight: bold;
  font-size: var(--large-font-size);
  position: absolute;
}

.table span {
  color: #5f5f5f;
  text-align: center;
}

.number {
  display: none;
}

.visible-return {
  animation: fadeIn 1s ease;
  display: initial;
}

/* .not-allowed {
  cursor: not-allowed;
} */

.table-fade {
  animation: fadeSkew 1s ease forwards;
}

.btn {
  cursor: pointer;
  margin-top: 21px;
  display: block;
  background-color: var(--base-color);
  border-radius: 25px;
  font-weight: bold;
  outline: none;
  color: #0f0f0f;
  border: none;
  font-size: 1rem;
  padding: 15px;
}

.notify-me {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: -2px;
  background-color: #6a87dfe1;
  color: #142635;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  z-index: 20;
  max-width: 350px;
}

.btn:focus {
  background: white;
  color: #D84315;
  box-shadow: var(--box-commun);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeSkew {
  from {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeInOut {
  from {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes fadeTORight {
  from {
    transform: translate3d(0%, 0%, 100%);
    -webkit-transform: translate3d(-100%, 0%, 0);
  }
  to {
    transform: translate3d(0, 0%, 0);
  }
}
